body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(50% - 22px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

button[name="login"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button[name="login"]:hover {
    background-color: #4cae4c;
}
