.product-link {
    position: relative;
    display: block;
}

.product-image {
    transition: all 0.3s ease;
    width: 100%;
}

.order-now {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Latar belakang hitam dengan sedikit transparansi */
    padding: 10px 20px; /* Padding di sekitar teks */
    border-radius: 5px; /* Border radius untuk sudut membulat */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.product-link:hover .product-image {
    filter: blur(1px);
}

.product-link:hover .order-now {
    visibility: visible;
    opacity: 1;
}